@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/main.css');
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/dark-coffee.css');
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/dark-coffee-dots.css');
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/light-white.css');
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/light-white-dots.css');
/* banner測試 */
@import url('https://github.com/yoyurec/logseq-banners-plugin/blob/main/src/banners.css');

/* Tags */
a.tag[data-ref] {
  border: 1px solid currentColor;
  background-color: var(--ct-block-reference-background);
  padding: 0 8px;
  border-radius: 10px;
  font-weight: 600;
  color: #D6D600;
}
.sidebar-item.content {
    font-size: 16px; /* or whatever you want */
}

/*調整right sidebar PC端*/
		  @media screen and (min-width: 992px) {
		    #right-sidebar.open {
		      width: var(--ls-left-sidebar-width) !important;
		    }
		  }
		  
		  /*平板端、移动端*/
		  @media screen and (max-width: 992px) {
		    /*调节移动端右侧边栏宽度*/
		    #right-sidebar.open {
		      width: 50vw !important;
		    }
		  }
