@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/main.css');
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/dark-coffee.css');
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/dark-coffee-dots.css');
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/light-white.css');
@import url('https://piotrsss.github.io/logseq-tools/public/bujo-css/light-white-dots.css');
/* banner測試 */
@import url('https://github.com/yoyurec/logseq-banners-plugin/blob/main/src/banners.css');

/* Tags */
a.tag[data-ref] {
  border: 1px solid currentColor;
  background-color: var(--ct-block-reference-background);
  padding: 0 8px;
  border-radius: 10px;
  font-weight: 600;
  color: #D6D600;
}

/*** Publishing: Hide things that aren't very useful for a read-only view ***/
/** Code by solarkraft: https://gist.github.com/solarkraft/b05e9058ca2cda40a4d6e03c52dff025 */

/** Hide page properties (public pages will always have public: true) */
.content .pre-block {
  display: none;
}

/** Header */
/* Hide right side of header buttons  (only useful setting is light/dark theme and can still be done using tt, graph is somewhat broken, home is covered by "All Pages")  
#head div.r { display: none; }
*/

/** Title */
/* Make title non-editable */
#main-container .page-title {
  pointer-events: none;
}

/** All pages */
/* Hide selection checkbox (nothing can be done with it) */
.cp__all_pages table .selector {
  display: none;
}

/* Hide more columns in "All pages" */
.cp__all_pages table .created-at {
  display: none;
}

/* Hide delete button */
.cp__all_pages .actions .actions-wrap {
  display: none;
}

/* Hide more page modification options/things that don't work */
.cp__all_pages .actions div.r {
  display: none;
}

/* Fix search bar spacing */
.cp__all_pages .actions .search-wrap {
  margin-left: 0;
  padding-left: 0;
}

/** Image */
/* Remove delete button */
a.delete {
  display: none;
}
/* Disable resizing */
.resize {
  resize: none;
}

/** Hide graph settings (they're ineffective, only the desktop app's while exporting seem to matter, search doesn't work either) */
.graph-filters {
  display: none;
}

/** Hide recent pages (seems to be ineffective on web)*/
.nav-content-item.recent {
  display: none;
}

/* Hide context menu (mostly ineffective) */
#custom-context-menu {
  display: none;
}

/** Disable dragging of blocks (also disables zooming) */
.ls-block > div > div > a:not(.block-control) {
  pointer-events: none;
}

/** Remove superfluous spacing on block embeds in Firefox */
.block-content.inline {
  white-space: revert;
}

/* Make TODO non-clickable */
span:is(.todo, .done) > :is(.marker-switch, input) { pointer-events: none; }

/* Make block ref icon non-clickable, clicking causes a crash for some reason */
.open-block-ref-link { pointer-events: none; }

/*留言區置中*/
.giscus .giscus-frame {
  margin: 0 max(10%, 250px) 0 max(10%, 250px);
  width: calc(100% - 2 * max(10%, 250px));
}
